h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 50px;
    font-family:'Poppins', sans-serif;
    color:#d32f2f;

}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
    margin-top: 20px;
}

.daily-sales, .total-income, .total-orders, .trending-dishes, .list-employees {
    background-color: #f6f0e8;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family:'Poppins', sans-serif;
    font-size: 20px;
}

.daily-sales {
    grid-column: span 2;
    position: relative;
}

.total-income {
    grid-column: span 2;
}

.total-orders {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trending-dishes {
    grid-column: span
}

option {
    font-weight: normal;
    display: block;
    padding-block-end: 1px;
    min-block-size: 1.2em;
    padding-inline: 2px;
    white-space: nowrap;
    font-size: 15px;
    font-family:'Poppins', sans-serif;
}