/* details.css */

h2 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 30px;
    font-family:'Poppins', sans-serif;
    color:#d32f2f;
    margin-top: 20px;
}

.cashier-info {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.cashier-info p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.summary-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.summary-card {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 22%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.summary-card h3 {
    margin-top: 0;
    color: #C70039;
    font-size: 20px;
}

.summary-card p {
    font-size: 18px;
    color: #333;
}
