{% extends 'base.html' %}

{% block title %}Cashier Summary{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Summary.css') }}">
{% endblock %}

{% block content %}
<h2>Cashier Summary</h2>

<table class="cashier-summary">
    <thead>
        <tr>
            <th>UID</th>
            <th>Username</th>
            <th>In</th>
            <th>Out</th>
            <th>Date</th>
            <th>Open Till</th>
        </tr>
    </thead>
    <tbody>
        <tr data-id="001" class="clickable-row">
            <td>001</td>
            <td>Ilunajin</td>
            <td>9:00 am</td>
            <td>5:00 pm</td>
            <td>9/23/24</td>
            <td>₱899</td>
        </tr>
        <tr data-id="002" class="clickable-row">
            <td>002</td>
            <td>Klang</td>
            <td>9:00 am</td>
            <td>5:00 pm</td>
            <td>9/23/24</td>
            <td>₱899</td>
        </tr>
        <tr data-id="003" class="clickable-row">
            <td>003</td>
            <td>Baby</td>
            <td>9:00 am</td>
            <td>5:00 pm</td>
            <td>9/23/24</td>
            <td>₱899</td>
        </tr>
        <tr data-id="004" class="clickable-row">
            <td>004</td>
            <td>Hanneng</td>
            <td>9:00 am</td>
            <td>5:00 pm</td>
            <td>9/23/24</td>
            <td>₱899</td>
        </tr>
    </tbody>
</table>

{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='java/summary.js') }}"></script>
{% endblock %}
