<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passenger Seat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='java/login.js') }}" defer></script>
</head>
<body>
<div class="login-container">
    <div class="left">
        <img src="{{ url_for('static', filename='pass.png') }}" alt="Passenger Seat Logo">
    </div>
    <div class="right">
        <div class="form-container">
            <h2>Sign in</h2>
            <form id="login-form">
                <input type="text" id="username" placeholder="Username" required>
                <div class="passcode-container">
                    <input type="password" id="passcode" placeholder="Passcode" required maxlength="10" pattern="\d*"
                           title="Passcode should only contain numbers and can be up to 10 digits long"
                           oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                    <span id="toggle-passcode" style="cursor: pointer;">👁️</span>
                </div>
                <!-- Move error-message near the passcode input field -->
                <p id="error-message" style="color: red;"></p>
                <p id="lockout-message" style="color: red; display: none;"></p> <!-- Lockout message -->
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
