{% extends 'base.html' %}

{% block title %}Manager Dashboard{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}


{% block content %}
<div class="profile-section">
    <h2>Dashboard</h2>
</div>
<div class="dashboard-grid">
    <div class="daily-sales">
        <h3>Daily Sales</h3>
        <canvas id="dailySalesChart"></canvas>
        <button class="view-report">View Report</button>
    </div>
    <div class="total-income">
        <h3>Total Income</h3>
        <div class="chart-container">
            <canvas id="incomeChart"></canvas>
        </div>
        <div class="legend">
            <span><span class="dot" style="background-color: #fcab64;"></span>Food</span>
            <span><span class="dot" style="background-color: #fcd678;"></span>Drinks</span>
        </div>
    </div>
    <div class="total-orders">
        <h3>Total Orders</h3>
        <div class="order-number">234345</div>
    </div>
    <div class="trending-dishes">
        <h3>Trending Dishes</h3>
        <select>
            <option>Today</option>
            <option>Yesterday</option>
            <option>Week</option>
            <option>Month</option>
        </select>
    </div>
    <div class="list-employees">
        <h3>List Employees</h3>
        <select>
            <option>Today</option>
            <option>Yesterday</option>
            <option>Week</option>
            <option>Month</option>
        </select>
    </div>
</div>
{% endblock %}
