{% extends 'dashboard.html' %}

{% block title %}Payment{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/payment.css') }}">
{% endblock %}


{% block content %}
    <div class="payment-content">
        <div class="payment-header">
            <h1>Payment</h1>
        </div>
        <div class="payment-container">
            <div class="order-summary">
                <h2>Order ID </h2>
                <div class="order-info">
                    <p>August 16, 2024</p>
                    <p>Order Type</p>
                </div>
                <hr class="order-info-separator">
                <hr>
                <div class="order-totals">
                    <div class="subtotal">
                        <p>Subtotal</p>
                        <p>0.00</p>
                    </div>
                    <div class="tax">
                        <p>Tax 5%</p>
                        <p>₱0.00</p>
                    </div>
                
                    <div class="total">
                        <p>Total Amount</p>
                        <p>₱0.00</p>
                    </div>
                </div>
                <div class="payment-summary">
                    <p>Cash <span class="amount">₱0.00</span></p>
                    <p>Change <span class="amount">₱0.00</span></p>
                </div>
                
                <button class="confirm-btn">
                    <i class="fas fa-wallet"></i> Confirm Payment
                </button>
            </div>
            
            <div class="summary-container">
                <div class="discount-summary">
                    <div class="discount-header">
                        <h2>Discount</h2>
                        <div class="tabs">
                            <button class="tab-btn active">Senior</button>
                            <button class="tab-btn">PWD</button>
                        </div>
                    </div>
                    <div class="input-fields">
                        <input type="text" placeholder="Enter Name">
                        <input type="text" placeholder="Enter Account Number">
                    </div>
                    <div class="discount-actions">
                        <button class="cancel-btn">Cancel</button>
                        <button class="apply-btn">Apply</button>
                    </div>
                </div>
                
                <div class="payment-method">
                    <h2>Payment Method</h2>
                    <div class="tabs">
                        <button class="tab-btn active">Cash</button>
                        <button class="tab-btn">Other Modes</button>
                    </div>
                    <div class="payment-input">
                        <input type="text" placeholder="Enter amount" value="₱480.00">
                    </div>
                    <div class="payment-actions">
                        <button class="cancel-btn">Cancel</button>
                        <button class="add-btn">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
